.vscode
__pycache__/
__assets_dj/
assets_dj/
Pipfile
*.pyc
*.db
*.sqlite
*.exe
PPYM.sqlite
bookshelf.db
app.yaml
tox.ini
doc/
tests/
sqlite3.*
intWeb/static/
intWeb/initDB.*
flask-sqlalchemy/
initDB__.py
initDB.py


Categor.csv
config.py
main.py
uti_cli.py
uti_db2json.py
intWeb/initDB*.py
intWeb/mySession*.py
intWeb/storage.py
