<table id="EDUTBL" class="table">
  <tr>
    <td class="small" style="width:10px;padding:0;margin: 0;">-</td>
    <td class="small">編號</td>
    <td id="MA_H">acno</td>
    <td id="MB_H">acc</td>
    <td id="MC_H">vouchernum</td>
  </tr>
  {% for item_ in items %}
  <tr>
    <td class="small" style="width:10px;padding:0;margin: 0;">{{loop.index}}</td>
    <td class="small"><a href="/EsAsset/{{item_.id}}">{{item_.id}}</a></td>
    <td class="M" id="MA_acno_{{item_.id}}">{{item_.acno}}</td>
    <td class="M" id="MB_acc_{{item_.id}}">{{item_.acc}}</td>
    <td class="M" id="MC_vouchernum_{{item_.id}}">{{item_.vouchernum}}</td>
  </tr>
  {% else %}
  <tr>
    <td>No item found</td>
  </tr>
  {% endfor %}
</table>
<div id="es_msgbox">
  <div id="es_msgbox_txt"></div>
</div>
<script>
  var es_msgbox = $("#es_msgbox").dialog({
    autoOpen: false, height: 700, width: 500, modal: true,
    open: function (event, ui) { $("#es_msgbox_txt").html("") },
    buttons: {
      Cancel: function () { es_msgbox.dialog("close"); }
    }
  });
  function status_place_chg() {
    closeedit();
    es_msgbox.dialog("open");
    var table = document.getElementById("EDUTBL");
    let json = {}
    let curr_itemno = null;
    for (var i = 0, row; row = table.rows[i]; i++) {
      if (row.cells[0].innerHTML == "-") continue;
      for (var j = 0, col; col = row.cells[j]; j++) {
        if (col.id && col.id.indexOf("itemno") > -1 && col.innerHTML != "") {
          curr_itemno = col.innerHTML;
          if (curr_itemno in json) { } else { json[curr_itemno] = { "itemno": curr_itemno }; }
        }
        if (col.id && col.id.indexOf("place") > -1) { json[curr_itemno]["place"] = col.innerHTML; }
        if (col.id && col.id.indexOf("keeper") > -1) { json[curr_itemno]["keeper"] = col.innerHTML; }
      }
    }
    for (let itemno_ in json) {
      if (json[itemno_]["place"] == "" && json[itemno_]["keeper"] == "") { }
      else {
        $.ajax({
          url: `/EsAsset/api/JSON/getItemnoMoveLog_by_itemno/${itemno_}`,
          method: "GET",
          contentType: "application/json",
        }).done(function (data) {
          if (data.length > 0 && json[itemno_]["place"] == data[0]["place"] && json[itemno_]["keeper"] == data[0]["keeper"]) {
            let temp_ = $("#es_msgbox_txt").html()
            $("#es_msgbox_txt").html(temp_ + "<br>" + JSON.stringify(data))
          } else {
            $.ajax({
              method: "POST",
              url: `/EsAsset/api/JSON/pushItemnoMoveLog`,
              data: JSON.stringify(json[itemno_]),
              contentType: "application/json"
            }).done(function (data_) {
              let temp_ = $("#es_msgbox_txt").html()
              $("#es_msgbox_txt").html(temp_ + "<br>新增轉移記錄:<br>" + JSON.stringify(data_))
            });
          }
        });
      }
    }
  }
  function depr_rate(acno, depr_year) {
    let res = /FA[\d][\d][\d][\d]/.exec(acno)
    if (res == null) { return 0; }
    if (res[0] == "FA0000") { return 0; }
    let y = res[0].substring(2, 6)
    console.log(y)
    const d = new Date();
    let year = d.getFullYear();
    let month = d.getMonth() + 1;
    let dy = year - Number(y)
    if (dy > 0) dy = dy - (month < 8 ? 1 : 0)
    if (dy == 0) return 1;
    if (dy > 50) return 0;
    if (dy > 0 && dy < 51 && depr_year > 0 && depr_year < 51 && depr_year > dy) return (depr_year - dy) / depr_year;
    return 0;
  }
  function calcTotalbtn() {
    closeedit();
    var table = document.getElementById("EDUTBL");
    let total_quantity = 0;
    let total_amount = 0;
    for (var i = 0, row; row = table.rows[i]; i++) {
      if (row.cells[0].innerHTML == "-") continue;
      let price = 0;
      let quantity = 0;
      let amount = 0;
      let amout_cell = null;
      let depr_year = 0;
      let acc_no = row.cells[row.cells.length - 1].innerHTML;
      for (var j = 0, col; col = row.cells[j]; j++) {
        if (col.id && col.id.indexOf("price") > -1) price = Number(col.innerHTML)
        if (col.id && col.id.indexOf("quantity") > -1) quantity = Number(col.innerHTML)
        if (col.id && col.id.indexOf("amount") > -1) { amout_cell = col; }
        if (col.id && col.id.indexOf("depr-year") > -1) {
          depr_year = Number(col.innerHTML)
          amount = price * quantity * depr_rate(acc_no, depr_year)
          amout_cell.innerHTML = amount
          total_amount += amount
          total_quantity += quantity
          break;
        }
      }
    }
    let totalrow = table.rows[table.rows.length - 1];
    if (totalrow.cells[0].innerHTML != "-") {
      totalrow = table.insertRow();
      var cell1 = totalrow.insertCell(0);
      var cell2 = totalrow.insertCell();
      var cell3 = totalrow.insertCell();
      var cell4 = totalrow.insertCell();
      var cell5 = totalrow.insertCell();
      var cell6 = totalrow.insertCell();
      var cell7 = totalrow.insertCell();
      var cell8 = totalrow.insertCell();
      var cell9 = totalrow.insertCell();
      var cell10 = totalrow.insertCell();
      var cell11 = totalrow.insertCell();
      cell1.innerHTML = "-";
      cell3.innerHTML = "小計";
      cell8.innerHTML = total_quantity;
      cell10.innerHTML = total_amount;
    } else {
      totalrow.cells[7].innerHTML = total_quantity;
      totalrow.cells[9].innerHTML = total_amount
    }
  }

  class ItemtableFrmMessageBox {
    msg(x) {
      let temp_ = $("#es_msgbox_txt").html();
      $("#es_msgbox_txt").html(temp_ + "<br>攤折及淨值 update:<br>" + x);
    }
  }

  function post_total_url(PostUrl, rowid, jsondata, frmMessageBox) {
    return new Promise((resolve, reject) => {
      $.ajax({
        method: "POST",
        url: PostUrl + `/${rowid}`,
        data: JSON.stringify(jsondata),
        contentType: "application/json",
        timeout: 4000,
        statusCode: {
          500: function () {
            resolve(rowid);
          }
        }
      }).done(function (data) {
        frmMessageBox.msg(JSON.stringify(data))
        resolve(0)
      }).fail(function (jqXHR, textStatus, errorThrown) {
        resolve(rowid);
      });
    })
  }

  async function saveTotal(PostUrl) {
    closeedit();
    es_msgbox.dialog("open");
    let frmMsg_ = new ItemtableFrmMessageBox()
    var table = document.getElementById("EDUTBL");
    let json = {}
    let curr_itemno = null;
    for (var i = 0, row; row = table.rows[i]; i++) {
      if (row.cells[0].innerHTML == "-") continue;
      for (var j = 0, col; col = row.cells[j]; j++) {
        for (let fieldname of ["adjust", "amount"]) {
          if (col.id && col.id.indexOf(`_${fieldname}_`) > -1) {
            let elarr = col.id.split("_")
            curr_itemno = elarr[2];
            if (curr_itemno in json) { } else { json[curr_itemno] = {}; }
            json[curr_itemno][fieldname] = col.innerHTML
          }
        }
      }
    }
    let error_set = []
    for (let itemno_ in json) {
      console.log(json[itemno_])
      let stat_ = await post_total_url(PostUrl, itemno_, json[itemno_], frmMsg_)
      if (stat_ != 0) error_set.push(stat_)
    }
    for (let itemno_ of error_set) {
      let stat_ = await post_total_url(PostUrl, itemno_, json[itemno_], frmMsg_)
      if (stat_ != 0) alert(stat_)
    }
  }
  // '%03d' | format(my_bandwitdth|int) 
</script>