
<script>
    var type_id=[4231,4232,4233,4234,4235,4236,4249,4251,4261,4262,4264,4269,4271,4272,4273,4274,4276,4278,4280,4284,4293,4295,4296,6112,6113,6315,6318,63162,6743,4270,4277,4279,4294]
    var type_dialog=[]
    function diagramclick(x) {
        for(let idx_ in type_id){
            if(x== type_id[idx_]){
                type_dialog[idx_].dialog("open");
            }
        }
    }
    function GetNewItemNo(cateid, use_period, x) {
        let mask=10000
        let sess=$("#sess").val().replace("/","")
        let _Url = `/EsAsset/JSON/categoryitemlist/${sess}${cateid}`
        if(mask==10000){_Url = `/EsAsset/JSON/categoryitemlist/${cateid}?mask=${mask}`}
        $.ajax({
            method: "GET",
            url: _Url ,
            contentType: "application/json"
        }).done(function (data) {
            console.log(data)
            let itemno = 0
            let item_name = x.innerHTML
            if (data.length > 0) {
                itemno = data[0].itemcatno + 1
            }
            else {
                itemno = sess+(Number(item_name.split(" ")[0]) * 1000 + 1)
                if(mask==10000) { itemno = (Number(item_name.split(" ")[0]) * mask + 1) }
            }
            let oldval = $("#itemcatno").val()
            if (oldval.length > 0) {
                prompt(itemno, itemno);
            } else {
                $("#itemcatno").val(itemno)
                $("#depr_year").val(use_period)
                if ($("#name").val().length > 0) { }
                else {
                    
                    $("#name").val(x.innerHTML)
                }
            }
            const e = new Event("change");
            const element = document.querySelector('#itemcatno')
            element.dispatchEvent(e);
        });
    }
    $(function () {

        for(let idx_ in type_id)
        {
            let dialogname=`#PTYPE${type_id[idx_]}_menudialog`
            let accname=`#PTYPE${type_id[idx_]}_accordion`
            $(accname).accordion();

            type_dialog[idx_] = $(dialogname).dialog({
            autoOpen: false, height: 700, width: 500, modal: true,
            buttons: {
                Cancel: function () { type_dialog[idx_].dialog("close"); }
            }
            });
            console.log(dialogname)
            console.log(accname)
        }
        var myEle = document.getElementById("describ");
        if(myEle){
            //var myEleValue= myEle.value;
            CKEDITOR.replace('describ');
        }        
    });
</script>