<select id=sel_item_ptype onchange='diagramclick(this.value);'>
    <option value='0'>---</option>
    <option value='4231'>中央冷暖系統</option>
    <option value='4232'>水管電力及氣體輸系統</option>
    <option value='4233'>防火及安全系統</option>
    <option value='4234'>電訊網絡</option>
    <option value='4235'>升降系統</option>
    <option value='4249'>幼兒玩具</option>
    <option value='4251'>車輛</option>
    <option value='4261'>課室傢俱</option>
    <option value='4262'>辦公室傢俱</option>
    <option value='4264'>禮堂傢俱</option>
    <option value='4269'>功能室及公共地方傢俱</option>
    <option value='4271'>電腦主機及周邊設備</option>
    <option value='4272'>文儀器材</option>
    <option value='4273'>送風/抽氣設備</option>
    <option value='4274'>視聽器材</option>
    <option value='4276'>課室設備</option>
    <option value='4278'>廚房設備</option>
    <option value='4280'>樂器-弦樂器</option>
    <option value='4284'>電腦程序</option>
    <option value='4293'>文儀器材</option>
    <option value='4295'>電器</option>
    <option value='4296'>教具器材</option>
    <option value='6112'>教材教具</option>
    <option value='6315'>易損耗工具及用具</option>
    <option value='63162'>辦公室及電腦用品</option>
    <option value='6318'>護理儀器及藥品用品</option>
    </select>   