<div id="ict_menudialog">
    <div id="ict_accordion">
        <h3><a href=#>4271 資訊設備(一般)</a></h3>
        <div style="margin:0;padding:0;">
            <h4><a href=# onclick="GetNewItemNo(4271001,this);">4271001 桌上電腦 (主機，滑鼠，鍵盤)</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271002,this);">4271002 手提電腦 (主機，電池，火牛，光盤)</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271003,this);">4271003 打印機 (針機 / 噴墨 / 雷射 / 多功能)</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271004,this);">4271004 掃瞄器</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271005,this);">4271005 伺服器 (主機)</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271006,this);">4271006 電腦熒幕 (CRT / LCD)</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271007,this);">4271007 手紋掃瞄器</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271008,this);">4271008 條碼掃瞄器 / Barcode Reader USB</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271009,this);">4271009 指紋考勤機</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271010,this);">4271010 多媒體投影機</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271011,this);">4271011 接觸式智能卡閱讀器《插入身份證辨認》</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271012,this);">4271012 大型外部儲存裝置</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271013,this);">4271013 大型外部儲存裝置硬盤</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271014,this);">4271014 平板電腦</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271046,this);">4271046 iPad</a></h4>
        </div>
        <h3><a href=#>4271 資訊設備(電腦配件)</a></h3>
        <div style="margin:0;padding:0;">
            <h4><a href=# onclick="GetNewItemNo(4271101,this);">4271101 底板 / 處理器 / 顯示卡</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271102,this);">4271102 鍵盤</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271103,this);">4271103 電腦機箱</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271104,this);">4271104 記憶體</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271105,this);">4271105 護目鏡</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271106,this);">4271106 滑鼠</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271107,this);">4271107 軟碟機</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271108,this);">4271108 內置硬盤</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271109,this);">4271109 光碟機 (CD-ROM / CD-RW / DVD)</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271110,this);">4271110 Zip Drive</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271111,this);">4271111 手寫板</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271112,this);">4271112 Lenten Reborn card</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271113,this);">4271113 外置硬盤</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271114,this);">4271114 後備供電電池</a></h4>
        </div>
        <h3><a href=#>4271 資訊設備(網路設備)</a></h3>
        <div style="margin:0;padding:0;">
            <h4><a href=# onclick="GetNewItemNo(4271201,this);">4271201 數據機</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271202,this);">4271202 網絡卡</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271203,this);">4271203 Hub</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271204,this);">4271204 路由器</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271205,this);">4271205 網絡儀器</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271206,this);">4271206 Ethernet Switch 48 10/100 Base-TX</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271207,this);">4271207 防火牆 - NetScreen</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271208,this);">4271208 無線網絡</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271209,this);">4271209 網路存取裝置</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271210,this);">4271210 流動上網裝置(MyID)《無線設備》</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271211,this);">4271211 無線存取點</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271212,this);">4271212 控制器Controller</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271213,this);">4271213 交換器Switch</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271214,this);">4271214 Access Point Wall / Ceiling Mounting</a></h4>
        </div>
        <h3><a href=#>4271 資訊設備(打印機配件)</a></h3>
        <div style="margin:0;padding:0;">
            <h4><a href=# onclick="GetNewItemNo(4271301,this);">4271301 Auto Switch</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271302,this);">4271302 Banner Paper Holder</a></h4>
        </div>
        <h3><a href=#>4271 資訊設備(考勤系統)</a></h3>
        <div style="margin:0;padding:0;">
            <h4><a href=# onclick="GetNewItemNo(4271401,this);">4271401 Targa Office Station 考勤系統《主機分享設備》</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271402,this);">4271402 非接觸式智能卡(Blank Smart Card)《MY IT-School》</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271403,this);">4271403 資訊亭(15"LCD輕觸式屏幕)連網絡鏡頭 (主機+輕觸式屏+非接觸式智能卡)</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271404,this);">4271404 MyIT-School 考勤系統《軟件系統》</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271405,this);">4271405 Card Reader《MY IT-School》</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271406,this);">4271406 Web Cam《MY IT-School》</a></h4>
            <h4><a href=# onclick="GetNewItemNo(4271407,this);">4271407 Dongle (棒型外置記憶體)《MY IT-School》</a></h4>
        </div>
    </div>
</div>
<div id="furniture_menudialog">
    <div id="furniture_accordion">
        <h3><a href=#>4261000 課室傢具(中學部)</a></h3>
        <div style="margin:0;padding:0;">
<h4><a href=# onclick="GetNewItemNo(4261000,this);">4261000 課室傢具(中學部)</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261001,this);">4261001 學生枱</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261002,this);">4261002 學生椅</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261003,this);">4261003 教師枱 / 講壇</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261004,this);">4261004 電腦枱</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261005,this);">4261005 彎角控制枱(中控教壇)</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261006,this);">4261006 教壇</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261007,this);">4261007 四層木架</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261008,this);">4261008 簿柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261009,this);">4261009 電視機架層板</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261010,this);">4261010 黑白板 / 告示綠板</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261011,this);">4261011 壁報板(牆氈) / 水松板</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261012,this);">4261012 百葉簾 / 布簾</a></h4>
</div>
<h3><a href=#>4261100 課室傢具(小學部)</a></h3>
<div style="margin:0;padding:0;">

<h4><a href=# onclick="GetNewItemNo(4261100,this);">4261100 課室傢具(小學部)</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261101,this);">4261101 學生枱</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261102,this);">4261102 學生椅</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261103,this);">4261103 教師枱</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261104,this);">4261104 電腦枱</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261105,this);">4261105 彎角控制枱(中控教壇)</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261106,this);">4261106 四層書包柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261107,this);">4261107 三層玩具柜 / 三層書包柜 / 三層簿柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261108,this);">4261108 小提琴柜 / 美勞柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261109,this);">4261109 圖書架 / 圖書柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261110,this);">4261110 18格 / 36格膠柜桶柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261111,this);">4261111 掛牆柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261112,this);">4261112 木柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261113,this);">4261113 教壇</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261114,this);">4261114 黑白板 / 告示綠板</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261115,this);">4261115 壁報板(牆氈) / 水松板</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261116,this);">4261116 鐵腳膠椅 / 鐵腳靠背椅</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261117,this);">4261117 屏風</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261118,this);">4261118 百葉簾 / 布簾</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261119,this);">4261119 電視機掛牆架</a></h4>
</div>
<h3><a href=#>4261200 課室傢具(幼稚園)</a></h3>
<div style="margin:0;padding:0;">
<h4><a href=# onclick="GetNewItemNo(4261200,this);">4261200 課室傢具(幼稚園)</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261201,this);">4261201 學生枱</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261202,this);">4261202 學生椅</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261203,this);">4261203 教師枱 / 鋼枱連玻璃</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261204,this);">4261204 電腦枱</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261205,this);">4261205 彎角控制枱(中控教壇)</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261206,this);">4261206 四層書包柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261207,this);">4261207 三層玩具柜 / 三層書包柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261208,this);">4261208 故事柜 / 玩具柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261209,this);">4261209 圖書架 / 圖書柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261210,this);">4261210 36格膠柜桶柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261211,this);">4261211 掛牆柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261212,this);">4261212 木柜</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261213,this);">4261213 教壇</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261214,this);">4261214 黑白板 / 告示綠板</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261215,this);">4261215 壁報板(牆氈) / 水松板</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261216,this);">4261216 鐵腳膠椅 / 鐵腳靠背椅</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261217,this);">4261217 屏風</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261218,this);">4261218 百葉簾 / 布簾</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261219,this);">4261219 電視機掛牆架</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261220,this);">4261220 半圓枱</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261221,this);">4261221 轉椅</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261222,this);">4261222 梳化床</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261223,this);">4261223 墊褥</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261224,this);">4261224 貨架</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261225,this);">4261225 地膠板</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261226,this);">4261226 地台夾板</a></h4>
<h4><a href=# onclick="GetNewItemNo(4261227,this);">4261227 幼兒櫈</a></h4>

</div>
    </div>
</div>
<div id="elect_menudialog">
    <div id="elect_accordion">
    </div>
</div>
<div id="waterelectpower_gongcheng_menudialog">
    <div id="wg_accordion">
    </div>
</div>

<script>
    var ict_menudialog = null;
    var furniture_menudialog = null;
    var elect_menudialog = null;
    var waterelectpower_gongcheng_menudialog = null;
    function diagramclick(x) {
        if (x == 4271) {
            ict_menudialog.dialog("open");
        } else if (x == 4276) {
            furniture_menudialog.dialog("open");
        } else if (x == 4272) {
            elect_menudialog.dialog("open");
        } else if (x == 4231) {
            waterelectpower_gongcheng_menudialog.dialog("open");
        }
    }
    function GetNewItemNo(cateid, x) {
        let PostUrl = "/EsAsset/JSON/categoryitemlist/"
        $.ajax({
            method: "GET",
            url: PostUrl + `/${cateid}`,
            contentType: "application/json"
        }).done(function (data) {
            console.log(data)
            let itemno = 0
            let item_name = x.innerHTML
            if (data.length > 0) {
                itemno = data[0].itemno + 1
            }
            else {
                itemno = Number(item_name.split(" ")[0]) * 1000 + 1
            }
            let oldval = $("#itemno").val()
            if (oldval.length > 0) {
                prompt(itemno, itemno);
            } else {
                $("#itemno").val(itemno)
                if ($("#name").val().length > 0) { }
                else {
                    $("#name").val(x.innerHTML)
                }

            }

        });

    }
    $(function () {
        
        $("#ict_accordion").accordion();
        $("#furniture_accordion").accordion();
        
        ict_menudialog = $("#ict_menudialog").dialog({
            autoOpen: false, height: 700, width: 500, modal: true,
            buttons: {
                Cancel: function () { ict_menudialog.dialog("close"); }
            }
        });
        furniture_menudialog = $("#furniture_menudialog").dialog({
            autoOpen: false, height: 700, width: 500, modal: true,
            buttons: {
                Cancel: function () { furniture_menudialog.dialog("close"); }
            }
        });
        elect_menudialog = $("#elect_menudialog").dialog({
            autoOpen: false, height: 700, width: 500, modal: true,
            buttons: {
                Cancel: function () { elect_menudialog.dialog("close"); }
            }
        });
        waterelectpower_gongcheng_menudialog = $("#waterelectpower_gongcheng_menudialog").dialog({
            autoOpen: false, height: 700, width: 500, modal: true,
            buttons: {
                Cancel: function () { waterelectpower_gongcheng_menudialog.dialog("close"); }
            }
        });
        var myEle = document.getElementById("describ");
        if(myEle){
            //var myEleValue= myEle.value;
            CKEDITOR.replace('describ');
        }        
          
    });
</script>