{#
# Copyright 2020  Inc.
#
#}

{% extends "esasset/base.html" %}

{% block content %}
<h3>{{action}} 產品</h3>
<script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
<script>
  function concat_itemno(){
    let itemcatno=$("#itemcatno").val()
    let acc_acno=$("#acc_acno").val()
    if(itemcatno=="") return $("#itemno").val("")
    $("#itemno").val(acc_acno+"-"+itemcatno)
  }
</script>
<form method="POST" enctype="multipart/form-data">
  <button type="submit" class="btn btn-success">Save</button>
  <div class="form-group hidden">
    <label for="acc_acno">acc_acno</label>
    <input type="text" name="acc_acno" id="acc_acno" value="{{book.acc_acno}}" class="form-control"/>
  </div>  
  <div class="form-group">
    <label for="itemno">產品編號</label>
    <input type="text" name="itemno" id="itemno" value="{{book.itemno if book.itemno is not none}}" placeholder="{{book.acc_acno}}-NNNNNNNNNNN" class="form-control"/>
  </div>  
  <div class="form-group">
    <label for="itemactno">[大類4271 +分類002+ 序號001]</label>
    {% include 'esasset/control/itemTypeSel.html' %}
    <span onclick="diagramclick(4271);">ICT<img  src="/static/fonts/diagram-3.svg"></span>
    <span>&nbsp;&nbsp;</span>
    <span onclick="diagramclick(4261);" >課室傢俱<img src="/static/fonts/diagram-3.svg"></span>
    <span>&nbsp;&nbsp;</span>
    <span onclick="diagramclick(4274);" >電器<img src="/static/fonts/diagram-3.svg"></span>
    <span>&nbsp;&nbsp;</span>
    <input type="text" name="itemcatno" id="itemcatno" value="{{book.itemcatno if book.itemcatno is not none}}"  onchange="concat_itemno()"  placeholder="PPPPNNNNNN" pattern="([0-9]{4}[0-9]{6}[0-9]{*})|None|()" title="Enter 427100001 (電腦類4271)" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="name">產品名稱</label>
    <input type="text" name="name" id="name" value="{{book.name if book.name is not none}}" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="model">型號</label>
    <input type="text" name="model" id="model" value="{{book.model}}" class="form-control"/>
  </div>  
  <div class="form-group">
    <label for="sn">SN/PN</label>
    <input type="text" name="sn" id="sn" value="{{book.sn}}" class="form-control"/>
  </div>  
  <div class="form-group">
    <label for="quantity">數量</label>
    <input type="text" name="quantity" id="quantity" value="{{book.quantity}}" class="form-control"/>
  </div>  
  <div class="form-group">
    <label for="price">單價</label>
    <input type="text" name="price" id="price" value="{{book.price}}" class="form-control"/>
  </div>  
  <div class="form-group">
    <label for="adjust">攤折</label>
    <input type="text" name="adjust" id="adjust" value="{{book.adjust}}" class="form-control"/>
  </div>  
  <div class="form-group">
    <label for="amount">淨值</label>
    <input type="text" name="amount" id="amount" value="{{book.amount}}" class="form-control"/>
  </div>    



  <div class="form-group">
    <label for="place">存放地點</label>
    <input type="text" name="place" id="place" value="{{book.place}}" class="form-control"/>
  </div>    
  <div class="form-group">
    <label for="keeper">保管人</label>
    <input type="text" name="keeper" id="keeper" value="{{book.keeper}}" class="form-control"/>
  </div>      

  <div class="form-group">
    <label for="fund_amount">資助金額</label>
    <input type="text" name="fund_amount" id="fund_amount" value="{{book.fund_amount}}" class="form-control"/>
  </div>    
  <div class="form-group">
    <label for="fund_name">資助單位/個人</label>
    <input type="text" name="fund_name" id="fund_name" value="{{book.fund_name}}" class="form-control"/>
  </div>      
  <input type="hidden" name="acc_acno" value="{{book.acc_acno}}">

  <div class="form-group">
    <label for="regSDate">登記日期regSDate</label>
    <input name="regSDate" value="{{book.regSDate}}" placeholder="YYYY-MM-DD" pattern="([0-9]{4}-[0-9]{2}-[0-9]{2})|()" title="Enter a date in this format YYYY-MM-DD" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="note1">note1</label>
    <textarea name="note1" id="note1" class="form-control">{{book.note1}}</textarea>
  </div>
  <div class="form-group">
    <label for="image">Cover Image</label>
    <input type="file" name="image" id="image" class="form-control"/>
  </div>
  <div class="form-group hidden">
    <label for="createdById">Created by ID</label>
    <input type="text" name="createdById" id="createdById" value="{{book.createdById}}" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>
{% include 'esasset/control/itemcategory.html' %}
{% include 'esasset/control/itemcategory_act.html' %}
{% endblock %}
