<b>ICT 設備</b>
<table class="table">
<tr>
<th>hostname</th>
<th>wifi_mac</th>
<th>lan_mac	</th>
<th>wifi_mac_style2	</th>
<th>lan_mac_sytle_2	</th>

</tr>

<tr>

<td>{{book.hostname}}</td>
<td>{{book.wifi_mac}}</td>
<td>{{book.lan_mac	}}</td>
<td>{{book.wifi_mac_style2	}}</td>
<td>{{book.lan_mac_sytle_2	}}</td>
</tr>
<tr>
<th>cpu </th>
<th>ram	</th>
<th>disk</th>
<th>年度</th>
</tr>
<tr>
<td>{{book.cpu 	}}</td>
<td>{{book.ram	}}</td>
<td>{{book.disk}}</td>
<td>{{book.accyear	}}</td>
</tr>
</table>  