<select id=sel_item_ptype onchange='diagramclick(this.value);'>
    <option value='0'>---</option>
    <option value='4231'>中央冷暖系統</option>
    <option value='4232'>水管電力及氣體輸系統</option>
    <option value='4233'>校車</option>
    <option value='4234'>電訊網絡</option>
    <option value='4235'>升降系統</option>
    <option value='4236'>防火及安全系統</option>
    <option value='4249'>幼兒玩具設備</option>
    <option value='4261'>課室傢具</option>
    <option value='4262'>辦公室傢具</option>
    <option value='4264'>禮堂傢具</option>
    <option value='4269'>其他傢具</option>
    <option value='4271'>資訊設備</option>
    <option value='4272'>辦公室設備</option>
    <option value='4273'>冷氣機及同類機器</option>
    <option value='4274'>視聽器材及實驗室儀器</option>
    <option value='4276'>課室設備</option>
    <option value='4278'>廚房設備</option>
    <option value='4280'>教學設備</option>
    <option value='4284'>電腦程序</option>
    <option value='4293'>影印機</option>
    <option value='4295'>電器設備</option>
    <option value='4296'>教具器材設備</option>
    <option value='6112'>教材教具</option>
    <option value='6113'>體育用品</option>
    <option value='6315'>易損耗工具及用具</option>
    <option value='63162'>辦公室用品</option>
    <option value='6743'>護理室儀器及用品</option>
    </select>   