<div id='PTYPE4231_menudialog'>
    <div id='PTYPE4231_accordion'>
    <h3><a href=#>4231 中央冷暖系統</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4231001,this);">4231001 水冷柜機</a></h4>
    </div></div></div>
    <div id='PTYPE4232_menudialog'>
    <div id='PTYPE4232_accordion'>
    <h3><a href=#>4232 水管電力及氣體輸系統</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4232001,this);">4232001 電錶箱</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4232002,this);">4232002 水管鋪設</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4232003,this);">4232003 中央氣體系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4232004,this);">4232004 微風發電系統裝置</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4232005,this);">4232005 太陽能發電系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4232006,this);">4232006 氣化爐</a></h4>
    </div></div></div>
    <div id='PTYPE4233_menudialog'>
    <div id='PTYPE4233_accordion'>
    <h3><a href=#>4233 校車</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4233001,this);">4233001 12座位輕型汽車</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4233002,this);">4233002 5座位輕型汽車</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4233003,this);">4233003 輕型電單車</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4233004,this);">4233004 9座位輕型汽車</a></h4>
    </div></div></div>
    <div id='PTYPE4234_menudialog'>
    <div id='PTYPE4234_accordion'>
    <h3><a href=#>4234 電訊網絡</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4234001,this);">4234001 電話系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4234002,this);">4234002 光纖網路鋪設</a></h4>
    </div></div></div>
    <div id='PTYPE4235_menudialog'>
    <div id='PTYPE4235_accordion'>
    <h3><a href=#>4235 升降系統</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4235001,this);">4235001 電梯</a></h4>
    </div></div></div>
    <div id='PTYPE4236_menudialog'>
    <div id='PTYPE4236_accordion'>
    <h3><a href=#>4236 防火及安全系統</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4236001,this);">4236001 聯網門禁系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4236002,this);">4236002 無線防盜系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4236003,this);">4236003 網絡監控系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4236004,this);">4236004 圖書防盜系統</a></h4>
    </div></div></div>
    <div id='PTYPE4249_menudialog'>
    <div id='PTYPE4249_accordion'>
    <h3><a href=#>4249 幼兒玩具設備</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4249001,this);">4249001 戶外兒童樂園</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249002,this);">4249002 培苗樂園</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249003,this);">4249003 雙響筒</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249004,this);">4249004 八音敲琴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249005,this);">4249005 手搖鈴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249006,this);">4249006 腰鈴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249007,this);">4249007 腕鈴/腳鈴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249008,this);">4249008 動物手搖鈴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249009,this);">4249009 小熊沙錘</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249010,this);">4249010 動物沙錘</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249011,this);">4249011 卡通五音木琴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249012,this);">4249012 動物木制響板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249013,this);">4249013 手搖小鈴鼓</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249014,this);">4249014 中號鈴鼓</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249015,this);">4249015 木制魚蛙</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249016,this);">4249016 直桶蛙</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249017,this);">4249017 印地安鼓(20cm)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249018,this);">4249018 彩色五鼓(12.5cm)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249019,this);">4249019 齒木</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249020,this);">4249020 13鈴棒鈴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249021,this);">4249021 多音響桶</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249022,this);">4249022 金屬紗筒</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249023,this);">4249023 三角鐵(每邊長12.7cm)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249024,this);">4249024 手提八音琴(鐵片)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249025,this);">4249025 銅擦(15cm)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249026,this);">4249026 銅擦(9cm)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249027,this);">4249027 銅擦(7cm)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249028,this);">4249028 銅擦(5.5cm)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249029,this);">4249029 帶架風鈴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249030,this);">4249030 椰戈鼓</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249031,this);">4249031 粉色軍鼓(20cm)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249032,this);">4249032 八音搖鈴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249033,this);">4249033 木質組合套裝樂器</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4249034,this);">4249034 玻璃鋼城堡大型組合</a></h4>
    </div></div></div>
    <div id='PTYPE4261_menudialog'>
    <div id='PTYPE4261_accordion'>
    <h3><a href=#>4261 課室傢具(中學部)</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4261001,this);">4261001 學生台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261002,this);">4261002 學生椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261003,this);">4261003 教師台 / 講壇</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261004,this);">4261004 電腦台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261005,this);">4261005 彎角控制台(中控教壇)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261006,this);">4261006 教壇</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261007,this);">4261007 四層木架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261008,this);">4261008 簿柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261009,this);">4261009 電視機架層板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261010,this);">4261010 黑白板 / 告示綠板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261011,this);">4261011 壁報板(牆氈) / 水松板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261012,this);">4261012 百葉簾 / 布簾</a></h4>
    </div>
    <h3><a href=#>4261 課室傢具(小學部)</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4261101,this);">4261101 學生台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261102,this);">4261102 學生椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261103,this);">4261103 教師台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261104,this);">4261104 電腦台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261105,this);">4261105 彎角控制台(中控教壇)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261106,this);">4261106 四層書包柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261107,this);">4261107 三層玩具柜 / 三層書包柜 / 三層簿柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261108,this);">4261108 小提琴柜 / 美勞柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261109,this);">4261109 圖書架 / 圖書柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261110,this);">4261110 18格 / 36格膠柜桶柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261111,this);">4261111 掛牆柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261112,this);">4261112 木柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261113,this);">4261113 教壇</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261114,this);">4261114 黑白板 / 告示綠板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261115,this);">4261115 壁報板(牆氈) / 水松板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261116,this);">4261116 鐵腳膠椅 / 鐵腳靠背椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261117,this);">4261117 屏風</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261118,this);">4261118 百葉簾 / 布簾</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261119,this);">4261119 電視機掛牆架</a></h4>
    </div>
    <h3><a href=#>4261 課室傢具(幼稚園)</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4261201,this);">4261201 學生台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261202,this);">4261202 學生椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261203,this);">4261203 教師台 / 鋼台連玻璃</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261204,this);">4261204 電腦台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261205,this);">4261205 彎角控制台(中控教壇)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261206,this);">4261206 四層書包柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261207,this);">4261207 三層玩具柜 / 三層書包柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261208,this);">4261208 故事柜 / 玩具柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261209,this);">4261209 圖書架 / 圖書柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261210,this);">4261210 36格膠柜桶柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261211,this);">4261211 掛牆柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261212,this);">4261212 木柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261213,this);">4261213 教壇</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261214,this);">4261214 黑白板 / 告示綠板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261215,this);">4261215 壁報板(牆氈) / 水松板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261216,this);">4261216 鐵腳膠椅 / 鐵腳靠背椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261217,this);">4261217 屏風</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261218,this);">4261218 百葉簾 / 布簾</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261219,this);">4261219 電視機掛牆架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261220,this);">4261220 半圓台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261221,this);">4261221 轉椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261222,this);">4261222 梳化床</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261223,this);">4261223 墊褥</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261224,this);">4261224 貨架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261225,this);">4261225 地膠板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261226,this);">4261226 地台夾板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261227,this);">4261227 幼兒台</a></h4>
    </div>
    <h3><a href=#>4261 課室傢具(黑沙環校部)</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4261901,this);">4261901 單位學生台椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261902,this);">4261902 學生椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261903,this);">4261903 課室教師台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261904,this);">4261904 電腦台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261905,this);">4261905 升降美術台椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261906,this);">4261906 玻璃鋼條型長</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261907,this);">4261907 辦公台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261908,this);">4261908 辦公椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261909,this);">4261909 四門儲物柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261910,this);">4261910 電視機架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261911,this);">4261911 白磁板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261912,this);">4261912 百葉簾 / 布簾</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261913,this);">4261913 升降黑板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261914,this);">4261914 黑白板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261915,this);">4261915 壁報板(牆氈) / 水松板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261960,this);">4261960 課室傢具(白馬行校部)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261961,this);">4261961 台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261962,this);">4261962 電腦台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261963,this);">4261963 鋼台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261964,this);">4261964 學生摺椅連活動台面板及書架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261965,this);">4261965 升降書台椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261966,this);">4261966 文件柜 / 木柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261967,this);">4261967 三層柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261968,this);">4261968 摺椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261969,this);">4261969 整理箱 (米色)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4261970,this);">4261970 百葉簾 / 布簾</a></h4>
    </div></div></div>
    <div id='PTYPE4262_menudialog'>
    <div id='PTYPE4262_accordion'>
    <h3><a href=#>4262 辦公室傢具</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4262001,this);">4262001 辦公台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262002,this);">4262002 辦公椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262003,this);">4262003 柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262004,this);">4262004 會議台或連椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262005,this);">4262005 梳化</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262006,this);">4262006 客椅 / 三位排椅 / 曲尺坐椅 / 長椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262007,this);">4262007 摺椅 / 圓台椅 / 白膠椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262008,this);">4262008 電腦台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262009,this);">4262009 三斗 / 四斗保險卡箱</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262010,this);">4262010 屏風</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262011,this);">4262011 茶几 / 茶水柜 / 廚柜 / 餐台椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262012,this);">4262012 百葉簾 / 布簾</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262013,this);">4262013 壁報板(牆氈) / 水松板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262014,this);">4262014 按摩椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4262015,this);">4262015 白色鋁檯</a></h4>
    </div></div></div>
    <div id='PTYPE4264_menudialog'>
    <div id='PTYPE4264_accordion'>
    <h3><a href=#>4264 禮堂傢具</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4264001,this);">4264001 4尺長凳 </a></h4>
    <h4><a href=# onclick="GetNewItemNo(4264002,this);">4264002 禮堂椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4264003,this);">4264003 絨簾</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4264004,this);">4264004 窗簾</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4264005,this);">4264005 膠板木面鐵腳摺台(深木紋色)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4264006,this);">4264006 接椅連膠互扣</a></h4>
    </div></div></div>
    <div id='PTYPE4269_menudialog'>
    <div id='PTYPE4269_accordion'>
    <h3><a href=#>4269 其他傢具(柜)</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4269001,this);">4269001 柜(18門儲物柜 / 四門柜 / 六格柜 / 八格柜 / 茶水柜 / 空格柜 / 書包柜 / 提琴柜 / 玻璃書柜 /  </a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269002,this);">4269002 鞋柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269003,this);">4269003 玻璃飾柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269004,this);">4269004 衣柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269005,this);">4269005 電視機柜</a></h4>
    </div>
    <h3><a href=#>4269 其他傢具(台)</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4269031,this);">4269031 灰色工作台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269032,this);">4269032 木書台 / 六角電腦台 / 曲尺書台 / 四人書桌 / 六人書桌 / 閱覽台 / 電腦台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269033,this);">4269033 會議台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269034,this);">4269034 鋼台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269035,this);">4269035 學生台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269036,this);">4269036 "玻璃纖維(黃</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269037,this);">4269037 "32"" 防火板方槢台"</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269038,this);">4269038 摺合式工作台(6' x 2' 櫸木色)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269039,this);">4269039 方几</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269040,this);">4269040 長台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269041,this);">4269041 六座位餐台</a></h4>
    </div>
    <h3><a href=#>4269 其他傢具(椅)</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4269061,this);">4269061 戶外鐵椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269062,this);">4269062 座椅 (演講廳)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269063,this);">4269063 轉椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269064,this);">4269064 灰色膠台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269065,this);">4269065 灰色鐵腳膠椅 (復和會議室)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269066,this);">4269066 梳化</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269067,this);">4269067 三層貨架 / 五層貨架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269068,this);">4269068 摺椅車仔</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269069,this);">4269069 摺椅(白色)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269070,this);">4269070 會議椅(綠色) (資源室)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269071,this);">4269071 鐵腳靠背座椅 </a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269072,this);">4269072 圓疊台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269073,this);">4269073 護脊座椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269074,this);">4269074 學生椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269075,this);">4269075 帶寫字板單椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269076,this);">4269076 椅(義工室)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269081,this);">4269081 不鏽鋼架連兩面黑白板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269082,this);">4269082 拋物台板連道軌和輪</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269083,this);">4269083 單面白板 / 黑白板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269089,this);">4269089 台不銹鋼面板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269090,this);">4269090 不銹鋼屏風</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269091,this);">4269091 四方形塑膠屏風</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269092,this);">4269092 活動屏風連不銹鋼腳</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269093,this);">4269093 活動屏風展板(3件組合)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269094,this);">4269094 壁報板(牆氈) / 水松板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269095,this);">4269095 單面書架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269097,this);">4269097 棗紅絲絨簾幕</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269098,this);">4269098 窗簾 / 百葉簾 / 布簾</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269099,this);">4269099 風景捲簾</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269101,this);">4269101 考勤機箱</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269102,this);">4269102 顯示器木架/ </a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269111,this);">4269111 橡膠地氈</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269112,this);">4269112 PVC地膠</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269116,this);">4269116 掛牆木框書架及裝裱</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269117,this);">4269117 廣告相架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269118,this);">4269118 A4插廣告牌</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269119,this);">4269119 便攜式活動展覽架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269151,this);">4269151 鋁合金摺疊式台架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269152,this);">4269152 伸縮紅繩帶欄杆座</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269153,this);">4269153 操場燈柱爬梯及圍架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269154,this);">4269154 不台鋼旗桿</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269155,this);">4269155 摺台蓬(大型布帳)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269158,this);">4269158 活動舞台板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269159,this);">4269159 有轆二級梯夾板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269160,this);">4269160 文儀手推車</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269201,this);">4269201 高壓清洗機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269202,this);">4269202 單桶榨水車</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269203,this);">4269203 房務工具清潔車</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269204,this);">4269204 玻璃網垃圾桶</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269205,this);">4269205 "擦地機連洗地刷</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269206,this);">4269206 專業機車</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269207,this);">4269207 吸塵 / 吸水機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269209,this);">4269209 鐵床</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269210,this);">4269210 病床</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269301,this);">4269301 磁控健身車</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269302,this);">4269302 高密度棉墊</a></h4>
    </div>
    <h3><a href=#>4269 幼稚園</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4269501,this);">4269501 睡床 (幼稚園)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269502,this);">4269502 小童床套裝 / 兒童床架(幼稚園)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269503,this);">4269503 走廊不銹鋼門 (幼稚園)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269504,this);">4269504 不銹鋼欄杆 (幼稚園)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269505,this);">4269505 曬乾架</a></h4>
    </div>
    <h3><a href=#>4269 圖書館</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4269701,this);">4269701 雙面書架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269702,this);">4269702 單面架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269703,this);">4269703 雜誌架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269704,this);">4269704 木書柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269705,this);">4269705 兒童書架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269706,this);">4269706 五層書架 / 書架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269707,this);">4269707 兒童桌</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269708,this);">4269708 兒童椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269709,this);">4269709 單面圖書車</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269710,this);">4269710 子母豆袋梳化</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269711,this);">4269711 閱書台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269712,this);">4269712 閱書椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269713,this);">4269713 廿格空格柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269714,this);">4269714 直立式活動白板(配不銹鋼活動架)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269715,this);">4269715 水松板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269716,this);">4269716 屏風</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269717,this);">4269717 辦公台椅</a></h4>
    </div>
    <h3><a href=#>4269 史地室 / 實驗室</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4269801,this);">4269801 "史地室天文儀射燈; 燈箱(世界時間顯示</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269802,this);">4269802 理/化/生物實驗室傢具 (木柜; 天文望遠鏡櫃; 氣象儀器櫃; 老師教台; 學生椅; 教學白板)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4269803,this);">4269803 "史地實驗室設備 (地理歷史教具(溶岩層</a></h4>
    </div></div></div>
    <div id='PTYPE4271_menudialog'>
    <div id='PTYPE4271_accordion'>
    <h3><a href=#>4271 資訊設備(一般)</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4271001,this);">4271001 桌上電腦 (主機，滑鼠，鍵盤)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271002,this);">4271002 手提電腦 (主機，電池，火牛，光盤)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271003,this);">4271003 打印機 (針機 / 噴墨 / 雷射 / 多功能)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271004,this);">4271004 掃瞄器</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271005,this);">4271005 伺服器 (主機)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271006,this);">4271006 電腦熒幕 (CRT / LCD)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271007,this);">4271007 手紋掃瞄器</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271008,this);">4271008 條碼掃瞄器 / Barcode Reader USB</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271009,this);">4271009 指紋考勤機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271010,this);">4271010 多媒體投影機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271011,this);">4271011 接觸式智能卡閱讀器《插入身份證辨認》</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271012,this);">4271012 大型外部儲存裝置</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271013,this);">4271013 大型外部儲存裝置硬盤</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271014,this);">4271014 平板電腦</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271046,this);">4271046 iPad</a></h4>
    </div>
    <h3><a href=#>4271 《電腦配件》</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4271101,this);">4271101 底板 / 處理器 / 顯示卡</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271102,this);">4271102 鍵盤</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271103,this);">4271103 電腦機箱</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271104,this);">4271104 記憶體</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271106,this);">4271106 滑鼠</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271108,this);">4271108 內置硬盤</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271109,this);">4271109 光碟機 (CD-ROM / CD-RW / DVD)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271110,this);">4271110 Zip Drive</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271111,this);">4271111 手寫板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271112,this);">4271112 Lenten Reborn card</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271113,this);">4271113 外置硬盤</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271114,this);">4271114 後備供電電池</a></h4>
    </div>
    <h3><a href=#>4271 《網路設備》</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4271201,this);">4271201 數據機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271202,this);">4271202 網絡卡</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271203,this);">4271203 Hub</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271204,this);">4271204 路由器</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271205,this);">4271205 網絡儀器</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271206,this);">4271206 Ethernet Switch 48 10/100 Base-TX</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271207,this);">4271207 防火牆  - NetScreen</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271208,this);">4271208 無線網絡</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271209,this);">4271209 網路存取裝置</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271210,this);">4271210 流動上網裝置(MyID)《無線設備》</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271211,this);">4271211 無線存取點</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271212,this);">4271212 控制器Controller</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271213,this);">4271213 交換器Switch</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271214,this);">4271214 Access Point Wall / Ceiling Mounting</a></h4>
    </div>
    <h3><a href=#>4271 《打印機配件》</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4271301,this);">4271301 Auto Switch</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271302,this);">4271302 Banner Paper Holder</a></h4>
    </div>
    <h3><a href=#>4271 《考勤系統》</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4271401,this);">4271401 Targa Office Station 考勤系統《主機分享設備》</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271402,this);">4271402 非接觸式智能卡(Blank Smart Card)《MY IT-School》</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271403,this);">4271403 "資訊亭(15""LCD輕觸式屏幕)連網絡鏡頭 (主機+輕觸式屏+非接觸式智能卡)"</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271404,this);">4271404 MyIT-School 考勤系統《軟件系統》</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271405,this);">4271405 Card Reader《MY IT-School》</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271406,this);">4271406 Web Cam《MY IT-School》</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4271407,this);">4271407 Dongle (棒型外置記憶體)《MY IT-School》</a></h4>
    </div></div></div>
    <div id='PTYPE4272_menudialog'>
    <div id='PTYPE4272_accordion'>
    <h3><a href=#>4272 辦公室設備</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4272001,this);">4272001 獎牌機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4272002,this);">4272002 碎紙機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4272003,this);">4272003 過膠機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4272004,this);">4272004 速印釘裝機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4272005,this);">4272005 滾軸裁紙刀 / 切紙刀</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4272006,this);">4272006 標籤機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4272007,this);">4272007 字機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4272008,this);">4272008 傳真機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4272009,this);">4272009 摺信機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4272010,this);">4272010 夾萬</a></h4>
    </div></div></div>
    <div id='PTYPE4273_menudialog'>
    <div id='PTYPE4273_accordion'>
    <h3><a href=#>4273 冷氣機及同類機器</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4273001,this);">4273001 冷氣機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4273002,this);">4273002 抽風系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4273003,this);">4273003 冷氣機節能裝置</a></h4>
    </div></div></div>
    <div id='PTYPE4274_menudialog'>
    <div id='PTYPE4274_accordion'>
    <h3><a href=#>4274 視聽器材及實驗室儀器</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4274001,this);">4274001 數碼相機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274002,this);">4274002 數碼攝錄機 / 實物攝錄機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274003,this);">4274003 電視機 / LCD電視機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274004,this);">4274004 錄影機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274005,this);">4274005 DVD機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274006,this);">4274006 CD機 / VCD機 / 錄音機 / 小型音響組合</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274007,this);">4274007 擴音機 / 擴音喇叭</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274008,this);">4274008 有線咪</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274009,this);">4274009 無線咪</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274010,this);">4274010 咪架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274011,this);">4274011 咪夾</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274012,this);">4274012 大型音響及喇叭系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274013,this);">4274013 幻燈片機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274014,this);">4274014 流動式紅外線語言聆聽系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274015,this);">4274015 紅外線發射主機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274016,this);">4274016 廣播系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274017,this);">4274017 校內打鐘系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274018,this);">4274018 搶答機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274019,this);">4274019 耳筒</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274020,this);">4274020 燈光設備</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274021,this);">4274021 監聽音箱</a></h4>
    </div>
    <h3><a href=#>4274 天文儀器</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4274101,this);">4274101 圓頂天文台/ 天文望遠鏡/ 望遠鏡台架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274102,this);">4274102 天文照相機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274103,this);">4274103 天文儀</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274104,this);">4274104 中國地形圖</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274105,this);">4274105 遙控氣象站</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274106,this);">4274106 星空投影機</a></h4>
    </div>
    <h3><a href=#>4274 實驗室儀器及工具</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4274201,this);">4274201 電子顯微鏡連配件</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274202,this);">4274202 電泳教學儀器組</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274203,this);">4274203 PH計</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274204,this);">4274204 光照培養箱</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274205,this);">4274205 傳感器</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274206,this);">4274206 組織細胞切片機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274207,this);">4274207 抽風柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274208,this);">4274208 電磁加熱器</a></h4>
    </div>
    <h3><a href=#>4274 護理室儀器</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4274311,this);">4274311 測溫篩檢儀</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274312,this);">4274312 電子式握力計</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274313,this);">4274313 長脊板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274314,this);">4274314 可調式頸托</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274315,this);">4274315 蜘蛛帶</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274316,this);">4274316 AED(自動除顫機)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274317,this);">4274317 耳溫探測器</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274318,this);">4274318 五官檢查儀</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4274319,this);">4274319 成人心肺復甦器</a></h4>
    </div></div></div>
    <div id='PTYPE4276_menudialog'>
    <div id='PTYPE4276_accordion'>
    <h3><a href=#>4276 課室設備</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4276001,this);">4276001 課室對講機系統</a></h4>
    </div></div></div>
    <div id='PTYPE4278_menudialog'>
    <div id='PTYPE4278_accordion'>
    <h3><a href=#>4278 廚房設備</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4278001,this);">4278001 消毒柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278002,this);">4278002 咖啡台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278003,this);">4278003 合金煲</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278004,this);">4278004 高速爐 / 生鐵爐 / 三頭爐 / 矮仔爐</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278005,this);">4278005 蒸櫃及蒸櫃風機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278006,this);">4278006 熱水罅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278007,this);">4278007 急凍肉櫃</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278008,this);">4278008 焗爐</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278009,this);">4278009 3管咖啡爐</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278010,this);">4278010 工作台(連雪櫃 / 地櫃) / 工作台連星盆</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278011,this);">4278011 電熱水器</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278012,this);">4278012 托盤 (餐具)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278013,this);">4278013 掛牆櫃(吊櫃)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278014,this);">4278014 玻璃纖維台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278015,this);">4278015 抽油煙機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278016,this);">4278016 滅蚊燈</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278017,this);">4278017 獨立飲水系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278018,this);">4278018 雙管濾水器</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278019,this);">4278019 不鏽鋼蒸櫃下座連不鏽鋼水膽</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4278020,this);">4278020 不鏽鋼焗爐角鐵架</a></h4>
    </div></div></div>
    <div id='PTYPE4280_menudialog'>
    <div id='PTYPE4280_accordion'>
    <h3><a href=#>4280 教學設備</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4280001,this);">4280001 直立式 / 三角鋼琴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280002,this);">4280002 電鋼琴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280003,this);">4280003 電子琴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280004,this);">4280004 大提琴 (配件有: 弦線/ 弓/ 肩托)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280005,this);">4280005 中提琴 (配件有: 弦線/ 弓/ 肩托)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280006,this);">4280006 小提琴 (配件有: 弦線/ 弓/ 肩托)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280007,this);">4280007 銅片琴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280008,this);">4280008 低音提琴 (配件有: 提琴架)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280009,this);">4280009 長笛</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280010,this);">4280010 大號</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280011,this);">4280011 結他擴音器</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280012,this);">4280012 流動擴音器</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280013,this);">4280013 音響教板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280014,this);">4280014 防潮管</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280015,this);">4280015 單簧管</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280016,this);">4280016 小號</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280017,this);">4280017 短笛</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280018,this);">4280018 中音薩克管</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280019,this);">4280019 次中音薩克管</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280020,this);">4280020 圓號</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280021,this);">4280021 長號</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280022,this);">4280022 雙簧管</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280023,this);">4280023 上低音號</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280024,this);">4280024 低音號</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280025,this);">4280025 低音薩克管</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280026,this);">4280026 巴松管</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280027,this);">4280027 木管</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280028,this);">4280028 雙擊木</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280029,this);">4280029 小鼓</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280030,this);">4280030 小鼓架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280031,this);">4280031 搖鼓</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280032,this);">4280032 大鈴鼓</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280033,this);">4280033 搖鈴 / 馬鈴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280034,this);">4280034 木魚</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280035,this);">4280035 沙錘(沙鎚)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280036,this);">4280036 銅鑼</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280037,this);">4280037 銅鑼架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280038,this);">4280038 低音鼓</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280039,this);">4280039 低音鼓架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280040,this);">4280040 鐃鈸</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280041,this);">4280041 鐃鈸架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280042,this);">4280042 鈸</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280043,this);">4280043 三角鐵</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280044,this);">4280044 爵士鼓</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280045,this);">4280045 鼓台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280046,this);">4280046 連體鼓</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280047,this);">4280047 鐵琴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280048,this);">4280048 鐵琴架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280049,this);">4280049 木琴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280050,this);">4280050 鋁片琴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280051,this);">4280051 低音木琴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280052,this);">4280052 定音鼓</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280053,this);">4280053 鐵片琴 / 鋼片琴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280054,this);">4280054 手鈴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280055,this);">4280055 響木(雙棍)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280056,this);">4280056 刮瓜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280057,this);">4280057 木片琴</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4280058,this);">4280058 法國號</a></h4>
    </div></div></div>
    <div id='PTYPE4284_menudialog'>
    <div id='PTYPE4284_accordion'>
    <h3><a href=#>4284 電腦程序</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4284001,this);">4284001 會計系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284002,this);">4284002 Z+Z智能教育平台超級畫板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284003,this);">4284003 Art Explosion</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284004,this);">4284004 CorelDRAW Graphics Suite 11 Academic License Chinese</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284005,this);">4284005 EI Office 2004</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284006,this);">4284006 Flash MX License Traditional Chinese for Windows - Level A</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284007,this);">4284007 FreeHand MX License Traditional Chinese for Windows - Level A</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284008,this);">4284008 FreeHand MX Traditional Chinese for Macintosh</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284009,this);">4284009 Illustrator CS2</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284010,this);">4284010 Illustrator V10 Traditional Chinese for Windows</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284011,this);">4284011 Kaspersky Anti-virus (for Novel & Linux Server)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284012,this);">4284012 McAfee Total Virus Defense Suite Chinese</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284013,this);">4284013 Mac OS x10.5.1</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284014,this);">4284014 PageMaker V6.5 Traditional Chinese for Windows</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284015,this);">4284015 PhotoImpact 8</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284016,this);">4284016 Photoshop 7.0 Traditional Chinese for Macintosh</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284017,this);">4284017 Photoshop CS2 9.0</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284018,this);">4284018 PrintShop Mail 5.1</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284019,this);">4284019 Phoenix Recover Pro 6</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284020,this);">4284020 Premiere 7.0 Pro English for Windows</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284021,this);">4284021 文鼎字型香港普及版2005</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284022,this);">4284022 VStudio NET Pro 2003 Win32 ChnTrad AE CD</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284023,this);">4284023 非常好色5(師生版)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284024,this);">4284024 Studio MX 2004 Trad. Chinese School Site License</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284025,this);">4284025 Office 2003 Win32 ChnTrad OLP NL AE</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284026,this);">4284026 Win XP Pro Chinese</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284027,this);">4284027 MS Office Pro+ 2007 OLP NL AE</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284028,this);">4284028 Websense 使用軟件 (MS SQL SVR 2005 Chi CD)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284029,this);">4284029 TI-Nspire CAS (數學組使用)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284030,this);">4284030 SLS 圖書館自動化系統V6.0</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284031,this);">4284031 標籤印刷軟件</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284032,this);">4284032 快碼輸入軟件</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284033,this);">4284033 MyIT-School (學校行政方案- 內聯網系統/ MyProfile+ 3.0/ 學校行政及用戶管理平台/ 內聯網流動點名系統/ Smiling Learning & Teaching System 學與教方案學習室/ MyIT-File Manager Application)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284034,this);">4284034 寫譜編曲軟件(Sibelius 6)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284035,this);">4284035 機械人設計應用程式 (Ft Designer Programme - CAD)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284036,this);">4284036 意念圖庫80集</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284037,this);">4284037 MS Office Pro+ 2010 SNGL OLP NL Acdmc</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284038,this);">4284038 Kaspersky Security (for MS Windows)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284039,this);">4284039 WinPro 7 SNGL Upgrd OLP NL Acdmc</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284040,this);">4284040 Myit-Farm 模擬農場平台 + 中/英/數選擇題(共1000題)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284041,this);">4284041 MS WIN SVR STD 2008R2 SNGL OLP NL AE (For Server)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284042,this);">4284042 DataCap Test Any Time</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284043,this);">4284043 SLS 圖書館自動化系統 V6.3 升級版 (由6.0 Basic 級升級)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284044,this);">4284044 Adobe InDesign CS69 Multiple Platforms AOO Chinese Traditional</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4284045,this);">4284045 Symatic EndPoint Protection 12.1 Per User BNDL STD</a></h4>
    </div></div></div>
    <div id='PTYPE4293_menudialog'>
    <div id='PTYPE4293_accordion'>
    <h3><a href=#>4293 影印機</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4293001,this);">4293001 影印機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4293002,this);">4293002 印刷機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4293003,this);">4293003 製板機</a></h4>
    </div></div></div>
    <div id='PTYPE4295_menudialog'>
    <div id='PTYPE4295_accordion'>
    <h3><a href=#>4295 電器設備</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4295001,this);">4295001 雪柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295002,this);">4295002 空氣清新機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295003,this);">4295003 抽濕機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295004,this);">4295004 自動噴酒精機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295005,this);">4295005 風扇 / 吊扇 / 掛扇</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295006,this);">4295006 熱水爐</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295007,this);">4295007 噴水式水龍頭</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295008,this);">4295008 充油式暖爐</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295009,this);">4295009 洗衣機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295010,this);">4295010 吸塵機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295011,this);">4295011 座台式蛋糕陳列柜</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295012,this);">4295012 紫外線冷熱水機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295013,this);">4295013 紫外線殺菌瀘水器</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295014,this);">4295014 紫外光殺菌燈車</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295015,this);">4295015 微波爐</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295016,this);">4295016 電暖爐</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295017,this);">4295017 熨斗</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295018,this);">4295018 咖啡機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295019,this);">4295019 沙冰機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295020,this);">4295020 磨豆機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295021,this);">4295021 電水壺</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295022,this);">4295022 支票機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295023,this);">4295023 iPod touch</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295024,this);">4295024 電飯煲</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4295025,this);">4295025 食物陳列柜</a></h4>
    </div></div></div>
    <div id='PTYPE4296_menudialog'>
    <div id='PTYPE4296_accordion'>
    <h3><a href=#>4296 教具器材設備</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(4296001,this);">4296001 多媒體投影機 / 無線投影機 / 實物攝像機/ 數字展台(實物投影機)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296002,this);">4296002 電動白幕 / 電動銀幕</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296003,this);">4296003 電子白板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296004,this);">4296004 中央控制系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296005,this);">4296005 無線手寫板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296006,this);">4296006 投票系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296007,this);">4296007 易教學系統</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296008,this);">4296008 裁判器 / 拖線盤</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296009,this);">4296009 柔道 / 體操用具</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296010,this);">4296010 器械 (啞呤/ 划船器/ 推胸架)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296011,this);">4296011 陶瓷製作設備 (燒台/ 拉胚機/ 泥條機/ 乾燥架/ 電爐)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296012,this);">4296012 籃球架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296013,this);">4296013 乒乓球台</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296014,this);">4296014 電視機/ 攝像機承托架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296015,this);">4296015 電子白板架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296016,this);">4296016 投影機幕</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296017,this);">4296017 健身器械 (磁控單車/ 划艇/ 電動跑步機)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296018,this);">4296018 三摺地墊</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296019,this);">4296019 意大利版畫機連腳架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296020,this);">4296020 日本版畫機無腳架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296021,this);">4296021 畫板整理箱(滾筒保護箱)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296022,this);">4296022 作品乾燥棚(晾乾架)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(4296023,this);">4296023 Annotation Pod 投射器</a></h4>
    </div></div></div>
    <div id='PTYPE6112_menudialog'>
    <div id='PTYPE6112_accordion'>
    <h3><a href=#>6112 教材教具</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(6112001,this);">6112001 辭典機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6112002,this);">6112002 激光筆</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6112003,this);">6112003 錄音筆</a></h4>
    </div></div></div>
    <div id='PTYPE6113_menudialog'>
    <div id='PTYPE6113_accordion'>
    <h3><a href=#>6113 體育用品</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(6113001,this);">6113001 籃球架</a></h4>
    </div></div></div>
    <div id='PTYPE6315_menudialog'>
    <div id='PTYPE6315_accordion'>
    <h3><a href=#>6315 易損耗工具及</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(6315001,this);">6315001 錄音筆</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315002,this);">6315002 電子光筆</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315003,this);">6315003 錄音咪</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315004,this);">6315004 LED 電子板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315005,this);">6315005 耳機麥克風 (headset)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315006,this);">6315006 風筒</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315007,this);">6315007 抽氣扇</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315008,this);">6315008 電話</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315009,this);">6315009 電熱水瓶</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315010,this);">6315010 冷熱飲水機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315011,this);">6315011 風扇(掛牆 / 落地 / 樓底扇)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315012,this);">6315012 吸塵機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315013,this);">6315013 暖爐</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315014,this);">6315014 熱水爐</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315015,this);">6315015 垃圾桶(細)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315016,this);">6315016 級梯</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315017,this);">6315017 膠箱</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315018,this);">6315018 雜誌架</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315019,this);">6315019 蚊管 / 蚊燈</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315020,this);">6315020 欄杆座 / 伸縮紅繩帶欄杆座</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315021,this);">6315021 台燈</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315022,this);">6315022 餐車</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315023,this);">6315023 鏡框</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315024,this);">6315024 海報架 / 掛牆木框書架及裝裱 / 廣告相架 / A4插廣告牌</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315025,this);">6315025 萬能線鋸機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315026,this);">6315026 砂帶機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6315027,this);">6315027 對講機</a></h4>
    </div></div></div>
    <div id='PTYPE63162_menudialog'>
    <div id='PTYPE63162_accordion'>
    <h3><a href=#>63162 辦公室及電腦</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(63162001,this);">63162001 鍵盤</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162002,this);">63162002 滑鼠</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162003,this);">63162003 內置硬盤</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162004,this);">63162004 內置DVD光碟機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162005,this);">63162005 外置DVD光碟機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162006,this);">63162006 視像鏡頭</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162007,this);">63162007 USB</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162008,this);">63162008 手寫板</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162009,this);">63162009 簡報搖控</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162011,this);">63162011 標籤機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162012,this);">63162012 過膠機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162013,this);">63162013 滾軸裁紙刀 / 切紙刀</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162014,this);">63162014 啪釘機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162015,this);">63162015 計算機</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162016,this);">63162016 記憶體</a></h4>
    <h4><a href=# onclick="GetNewItemNo(63162017,this);">63162017 外置硬盤</a></h4>
    </div></div></div>
    <div id='PTYPE6743_menudialog'>
    <div id='PTYPE6743_accordion'>
    <h3><a href=#>6743 護理室儀器及</a></h3>
    <div style="margin:0;padding:0;">
    <h4><a href=# onclick="GetNewItemNo(6743001,this);">6743001 手提紅外線溫度測量槍(額頭測溫機)</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6743002,this);">6743002 免接觸額頭探熱器</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6743003,this);">6743003 輪椅</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6743004,this);">6743004 紫外光殺菌燈車</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6743005,this);">6743005 耳探式電子溫度計</a></h4>
    <h4><a href=# onclick="GetNewItemNo(6743006,this);">6743006 臂血壓計</a></h4>
    </div></div></div>