{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}仪表盘{% endblock %}

{% block css %}

    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom/css/custom.css' %}">

{% endblock %}


{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            仪表盘
            <small>dashboard</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">仪表盘</li>
        </ol>
    </section>





    <div class="row">





        <!-- 信息盒子 -->
        <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">资产</span>
                <span class="info-box-number">   {{ assets_list.count }}
                <small>台</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        </div>



        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion ion-android-warning"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">故障</span>
                    <span class="info-box-number">{{  assets_bad.count }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-android-warning"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Sales</span>
                    <span class="info-box-number">760</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">系统用户</span>
                    <span class="info-box-number">{{ users.count }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
















{% endblock %}

{% block script %}





    <!-- AdminLTE App -->
    <!-- SlimScroll 1.3.0 -->
    <script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>

    <!-- FastClick -->
    <script src="{% static 'dist/js/demo.js' %}"></script>
    <script src="{% static 'bower_components/jquery-knob/js/jquery.knob.js' %}"></script>
    <!-- page script -->
{% endblock %}
