{#
# Copyright 2015 Inc.
#}

{% extends "esasset/base.html" %}

{% block content %}


<script>
  //<script src="/static/javascripts/JsBarcode.all.min.js" />  
  // By using querySelector
  //<svg id="barcode"></svg>
  //JsBarcode("#barcode", "ACC{{book.acno}}", {
  //  format: "CODE39",
  // // mod43: true
  // height: 50
  //});

  // or by passing an element variable
  //var element = document.getElementById("barcode");
  // or jqeuery
  //JsBarcode(element, "Hi!");
  //$("#barcode").JsBarcode("Hi!");

  //<img src="/EsAsset/qrcode?data={{book.acno}}">
  function AddBlankRows() {
    let _url = "/EsAsset/{{book.id}}/item/addbatch/0?acno={{book.acno}}&regSDate={{book.regSDate}}&sess={{book.sess}}"
    let number_for_rows = prompt("Please enter number for rows", "0");
    var reg = /^\d+$/;
    if (number_for_rows != null && reg.test(number_for_rows)) {
      window.location.href = _url.replace("/0?", `/${number_for_rows}?`);
    }
  }
</script>

<style>
  .container {
    padding: 1px;
    margin: 1;
    width: 98%
  }

  @media print {
    .no-print {
      display: none;
      visibility: hidden !important;
      height: 0;
      width: 0;
    }

    a[href]:after {
      display: none;
      visibility: hidden;
    }
  }
</style>

<style>
  th {
    min-width: 100px;
  }

  td {
    padding-right: 5px;
    padding-left: 5px;
  }
</style>
<h4>{{book.id}} {{book.acc}}</h4>
<div style="display:none">
  <img
    src='{{qrcode(book.acno, error_correction="H", icon_img="images/favicon.ico",border=2,box_size=4,back_color="white", fill_color="black" )}}'>
</div>
<div class="btn-group no-print"> 
  {% if session.profile and session.profile.Role < "8" %} 
    <a href="/EsAsset/{{book.id}}/edit" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      Edit 專案
    </a>
    <a href="/EsAsset/{{book.id}}/delete" class="btn btn-danger btn-sm">
      <i class="glyphicon glyphicon-trash"></i>
      Delete 專案
    </a>

    {% endif %}
</div>
<div class="media">
  <div class="media-left">
    {% if book.imageUrl %}
    <img class="book-image" width="100" src="{{book.imageUrl}}">
    {% else %}
    {% endif %}
  </div>

</div>
<div class="media-body">
  <table class="table">
    <tr>
      <td>id,項目代號</td>
      <td>專案項目名稱</td>
      <td>學年</td>
      <td>登記日期</td>
      <td>vouchernum</td>
      <td>invoicenum</td>
      <td>supplier</td>
      <td>createdById</td>
    </tr>
    <tr>
      <td>
        <a href="/EsAsset/{{book.id}}">{{book.id}}.{{book.acno}}</a>
      </td>
      <td>
        {{book.acc}}
      </td>
      <td>
        {{book.sess}}
      </td>
      <td>
        {{book.regSDate}}
      </td>
      <td>
        {{book.vouchernum if book.vouchernum is not none}}
      </td>
      <td>
        {{book.invoicenum if book.invoicenum is not none}}
      </td>
      <td>
        {{book.supplier if book.supplier is not none}}
      </td>
      <td>
        {{book.createdById if book.createdById is not none}}
      </td>
  </table>
  <p>{{book.describ | safe if book.describ is not none}}</p>
</div>
<div class="btn-group no-print">  
  {% if session.profile and session.profile.Role < "8" %}
    <a href="/EsAsset/{{book.id}}/item/add?acno={{book.acno}}&regSDate={{book.regSDate}}&sess={{book.sess}}"
      class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      增加細項
    </a>
    <a href="#" onclick="AddBlankRows();" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      增加空項
    </a>
    <a href="/EsAsset/{{book.id}}/itemgrid?acno={{book.acno}}&regSDate={{book.regSDate}}"
      class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-th"></i>
      表格式編輯
    </a>
    <a href="/EsAsset/{{book.id}}/gridMTImg?acno={{book.acno}}&regSDate={{book.regSDate}}"
      class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-th"></i>
      物件圖片
    </a>
    <a href="#" class="btn btn-success btn-sm" id="savebtn">
      <i class="glyphicon glyphicon-floppy-disk"></i>
      儲存結果
    </a>
    <a href="#" class="btn btn-primary btn-sm" onclick="calcTotalbtn();">
      <i class="glyphicon glyphicon-scale"></i>
      運算
    </a>
    <a href="/EsAsset/{{book.id}}/DownloadXLS" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-cloud-download"></i>
      excel
    </a>    
    
    <a href="#" class="btn btn-success btn-sm" onclick="status_place_chg();">
      <i class="glyphicon glyphicon-floppy-disk"></i>
      儲存搬移日誌
    </a>
    <br>
    {% endif %}
</div>
{% set acc_id=book.id %}
{% include 'esasset/control/itemtable.html' %}

{% set file_link_base="/EsAsset/%s/download"%(acc_id) %}
{% set file_uplink="/EsAsset/%s/upload"%(acc_id) %}
<div class="no-print">
{% include 'esasset/control/filenames_form.html' %}
</div>

<script>
  //var PostUrl = '/EsAsset/{{book.id}}/item/api/JSON/update';
  var PostUrl = '/EsAsset/{{book.id}}/item/api/JSON/updateSet';
  $(document).ready(function () {
    $('#savebtn').click(function (event) {
      saveTotal(PostUrl);
    });
    $('td').filter(function () {
      return this.innerHTML.match(/^[0-9\s\.,]+$/);
    }).css('text-align', 'right');

  });  
</script>
{% endblock %}